# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
/Thumbs.db
/.project
*.sass-cache
.DS_Store
/node_modules/
/designs/
/app/dist/
*.sublime-project
*.sublime-workspace