<!doctype html>

<html ng-app="store">
<head>
    <meta charset="UTF-8">
    <title>Vend Sales Screen Example</title>
    <link rel='stylesheet' href='css/base.css'>
</head>
<body>

    <div class="wrapper" ng-controller="SalesScreenController as salesScreen">

        <div class="module-control control-full">
            <button ng-click="addSalesItem()">Add Products</button>
        </div>

        <div class="list-sales">
            <table>
                <tbody>
                    <tr ng-repeat="salesItem in salesScreen.salesItems">
                        <td>{{salesItem.quantity}}</td>
                        <td>x</td>
                        <td>{{salesItem.name}}</td>
                        <td>{{salesItem.inclPrice}}</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- end cart -->

        <div class="checkout">    
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Sub-total</td>
                        <td>{{ getExclTotal() }}</td>
                    </tr>
                    <tr>
                        <td>Tax (GST)</td>
                        <td>{{ getTaxTotal() }}</td>
                    </tr>
                    <tr>
                        <td>Total Price</td>
                        <td>{{ getInclTotal() }}</td>
                    </tr>

                </tbody>
            </table>
        </div><!-- end tax -->

        <div class="module-control control-full">
            <button ng-click="resetSalesItems()">Boomshakalaka</button>
        </div>
    </div><!-- end wrapper -->

<script src="js/angular.min.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/salesScreenCtrl.js"></script>
<script src="js/services/currencyCalc.js"></script>


</body>
</html>
